.flex-between
  display flex
  justify-content space-between

.flex
  display flex

.container-change-detail
  .teble-wrapper
    >>>
      tr th
        background #435089

        .cell
          color #fff

  .title
    position relative
    background #4775CA
    height 48px
    line-height 48px
    font-size 20px
    color #fff
    text-align center

    span
      position absolute
      right 10px
      top 50%
      transform translateY(-50%)

  .content
    padding 30px